/* @group boilerplate */

/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }








/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }


/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

/* @end */




/* @group venn styles */

/* ===== Primary Styles ========================================================
   Author: Jason Huff & Clement Valla
   Grey Colors: http://0to255.com/97a09b
   ========================================================================== */
body {
  margin: 0px;
  padding: 0px;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

/* @group top nav */
div#navigation{
  position: absolute;
}

/* @end */

/* @group venn-menu */

ul#venn-menu{
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

ul#venn-menu li{
  margin: auto;
  width: 900px;
  height: 40px;
}
ul#share-menu{
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
}

ul#venn-menu .field {
  display: inline-block;
  width: 275px;
  height: 30px;
  margin-bottom: 4px;
  padding: 5px 8px;
  text-align: left;
  border: 2px solid #000;
}
ul#venn-menu .field.pull-left {
      margin: 0 4px 4px 0;
  }
ul#venn-menu label {
  cursor: default;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  padding-right: 0px;
}
ul#venn-menu li input {
  width: 200px;
  padding: 0;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid #777;
  color: #434a46;
  background: transparent;
}

ul#venn-menu ul.colors {
  width: 450px;
  list-style: none;
  margin: 0;
  margin-top: 8px;
  margin-left: 422px;
  padding: 5px 8px;
  border: 2px solid #000;
}
ul#venn-menu ul.colors li {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  height: 27px;
  width: 35px;
  margin: 0 8px 3px 9px;
  padding-bottom: 2px;
}
ul#venn-menu ul.colors li:hover {
  cursor: pointer;
  border-bottom: 2px solid #000;
}
ul#venn-menu ul.colors li span.a, .menu ul.colors li span.b {
  position: absolute;
  top: 2px;
  display: block;
  height: 21px;
  width: 21px;
  background: rgba(100,100,100,0.5);
  border-radius: 11px; 
}
  ul#venn-menu ul.colors li span.a {
    left: 1px;
    background: rgba(64,242,255,0.5);
  }
  ul#venn-menu ul.colors li span.b {
    right: 1px;
    background: rgba(254,17,149,0.5);
  }

/* jQuery UI handle override */
#spread-slider {
  height: 1px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px dotted #000;
  border-radius: 0;
}
ul#venn-menu div#spread {
  width: 398px;
}
#spread-slider a {
  top: -8px;
  width: 8px;
  border: none;
  border-radius: 0;
  background: #000;
}
  #spread-slider a:hover {
    cursor: pointer;
    background: #6e6;
  }

ul#venn-menu .slide-control {
  vertical-align: middle;
  display: inline-block;
  width: 310px;
  padding: 0 2px 4px 8px;
}

.menu .ui-state-hover, .menu .ui-widget-content .ui-state-hover, 
.menu .ui-widget-header .ui-state-hover, .menu .ui-state-focus, 
.menu .ui-widget-content .ui-state-focus, .menu .ui-widget-header .ui-state-focus {
  border: 1px solid #85908a;
  background: #dee1df;
  font-weight: bold;
  color: #dee1df;
  border-radius: 0;
}

/* @end */



ul.menu {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 15px;
  text-align: center;
  list-style: none;
}

.menu li {
  vertical-align: top;
}
.menu li.col-1, .menu li.col-2, .menu li.col-3 {
  display: inline-block;
  width: 280px;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
}
  .menu li.col-2 {
    width: 484px;
  }
.menu .link {
  display: inline-block;
  margin-right: 4px;
  border: 2px solid #000;
  text-transform: uppercase;
}
  .menu .link:first-child {
    margin-bottom: 4px;
  }
  .menu .link:last-child {
    width: 116px;
    margin-right: 0;
    text-align: center;
  }
.menu .link a{
    display: block;
    padding: 5px 8px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
  }
  .menu .link a:hover, .menu .link a.active {
    background: #000;
    text-decoration: none;
    color: #fff;
  }

/* @end */
