/* ===== Primary Styles ========================================================
   Author: Jason Huff & Clement Valla
   ========================================================================== */
/* @group navigation */
.border-box {
    box-sizing: border-box;
}
header {
    position: absolute;
    top: 0;
}
.brand {
    text-decoration: underline;
}
.button-box-black {
    border: 2px solid #333;
}
.button-box-black:hover {
    background-color: #333;
    color: #FFF;
}
.button-box-black:hover svg {
    fill: #FFF;
}
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
}
.icon-loading {
    display: none;
}
.loading .icon-loading {
    display: inline;
}
.loading .icon-tweet {
    display: none
}
.pre-load {
    color: #333;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #FFF;
    z-index: 501;
}
.pre-load .icon-loading {
    display: block;
    font-size: 3em;
    margin: 25% auto;
}
.error-msg {
    min-height: 100vh;
}
/* @end */

/* @group canvas */
.diagram {
    margin-top: -50px;
}
/* @end */

/* @group venn-menu */
.menu-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.menu {
    min-width: 960px;
    max-width: 960px;
    margin: auto;
}
    .menu .row {
        height: 50px;
    }
    .menu label {
        cursor: default;
        text-transform: uppercase;
        font-weight: bold;
        color: #333;
    }
        .menu .row input {
            width: 70%;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 2px solid #333;
            color: #333;
            background: transparent;
        }
        .menu .row .col:nth-of-type(2) {
            text-align: center;
        }
        .menu .row .col:nth-of-type(3),
        .menu .row .colors {
            text-align: right;
        }
        /* Color Selectors */
        .menu .colors ul {
            padding: 0;
        }
        .menu .colors li {
            position: relative;
            display: inline-block;
            height: 27px;
            width: 35px;
            margin: 0 8px 3px 0;
            border-bottom: 2px solid rgba(255,255,255,0.0);
        }
            .menu .colors li:last-of-type {
                margin-right: 0;
            }
        .menu .colors .label {
            width: auto;
            text-transform: uppercase;
            font-weight: bold;
        }
            .menu .colors .label:hover {
                border: none;
                cursor: default;
            }
            .menu .colors li:hover,
            .menu .colors .active {
                cursor: pointer;
                border-bottom: 2px solid #333;
            }
            .menu .colors li:hover .a,
            .menu .colors li:hover .b {
                opacity: 0.9;
            }
            .menu .colors .a,
            .menu .colors .b {
                position: absolute;
                top: 2px;
                display: block;
                height: 77%;
                width: 60%;
                background: rgb(255,255,255);
                border-radius: 50%;
                opacity: 0.7;
            }
            .menu .colors .a {
                left: 1px;
            }
            .menu .colors .b {
                right: 1px;
            }

    .menu .slide-control {
        vertical-align: middle;
        display: inline-block;
        width: 350px;
        padding: 0 2px 4px 8px;
    }

/* jQuery UI handle override */
#spread-slider {
    height: 1px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px dotted #333;
    border-radius: 0;
    background: none;
}
    #spread-slider span {
        top: -8px;
        width: 21px;
        height: 21px;
        border-radius: 50%;
        border: none;
        background: #666;
    }
        #spread-slider span:hover {
            cursor: pointer;
            cursor: -webkit-grab;
            background: #333;
        }
        #spread-slider span:focus {
            cursor: pointer;
            cursor: -webkit-grab;
            outline: none;
        }
        #spread-slider span:active {
            cursor: pointer;
            cursor: -webkit-grabbing;
            background: #333;
        }

.menu .ui-state-hover, .menu .ui-widget-content .ui-state-hover, 
.menu .ui-widget-header .ui-state-hover, .menu .ui-state-focus, 
.menu .ui-widget-content .ui-state-focus, .menu .ui-widget-header .ui-state-focus {
    border: 1px solid #333;
    background: #333;
    font-weight: bold;
    border-radius: 0;
}
    .menu li {
        vertical-align: top;
        list-style-type: none;
    }

    .menu-icon {
        display: none;
    }
    .venn-menu-overlay .header {
        display: none;
    }

 /* If touch, change hovers */
.is-touch .button-box-black:hover {
    background-color: #FFF;
    color: #333;
}
.is-touch .button-box-black:hover svg {
    fill: #333;
}
.is-touch .button-box-black:active {
    background-color: #333;
    color: #FFF;
}
/* Remove inputs styles on mobile Safari and Chrome */
input {
    -webkit-appearance: none;
    border-radius: 0;
}
/* @end */
@media (max-width: 1000px) {
    .menu-wrapper {
        position: inherit;
    }
}
@media (max-width: 768px) {
    body.overlay .blur {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }
    header {
        width: 100%;
    }
    .diagram {
        padding-top: 10%;
        margin-top: 0;
    }
    .menu-wrapper {
        position: inherit;
    }
    .menu {
        min-width: inherit;
    }
        .menu .row {
            margin: 0;
            height: auto;
        }
        .menu .row input {
            width: 95%;
            font-size: 1.25em;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            padding: 0;
        }
            .menu .row label {
                display: block;
            }
            .menu .row .col,
            .menu .row .col:nth-of-type(2),
            .menu .row .col:nth-of-type(3) {
                text-align: left;
                padding-bottom: 16px;
            }
        .menu .slide-control {
            width: 100%;
            padding: 0;
        }
            .menu .colors li {
                width: 64px;
                height: 49px;
            }
                .menu .colors li.label {
                    height: auto;
                }
        /* Mobile overlay edit menu */
        .venn-menu-overlay {
            display: none;
        }
        .venn-menu-overlay.show {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(255,255,255,0.55);
            z-index: 500;
        }
        .venn-menu-overlay.show .header {
            display: table;
        }
        .venn-menu-overlay .header {
            background: rgba(0,0,0,0.8);
            color: #FFF;
        }
        .venn-menu-overlay .header a {
            color: #FFF;
        }
        .venn-menu-overlay .slide-control {
            display: none;
        }
}

@media (max-width : 480px) {
    .brand {
        font-size: 1.25em;
    }
    body.blur #main, body.blur header {
        -webkit-filter: blur(20px);
        -moz-filter: blur(20px);
        -o-filter: blur(20px);
        -ms-filter: blur(20px);
        filter: blur(20px);
        opacity: .5;
        z-index: -100;
    }
    .diagram {
        padding-top: 5%;
    }
    .menu .colors li {
        float: left;
    }
    .menu .colors li.label {
        width: 100%;
        text-align: left;
    }
}

@media (max-width : 335px) {
    .brand {
        font-size: 1.15em; 
    }
    .diagram {
        padding-top: 5%;
    }
}
